{% render "../../templates/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'components/header.jsx'
		%}

import Logo from "../assets/logo.svg"

const Header = (props) => {
	return (
		<header>
			<img className="logo" src={Logo} alt="Logo {{project.name | pascalCase}}&nbsp;"/>
			<span className="title">{{project.attributes.public_home_page_title}}</span>
			<span className="subtitle">{{project.attributes.public_home_page_subtitle}}</span>
		</header>
	)
}

export default Header;
