{% render "../../templates/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'components/footer.jsx'
		%}
import {useState} from 'react';
import MessageDialog from './dialog/MessageDialog';

const Footer = (props) => {

	const [isContactUsDialogOpen, setContactUsDialogOpen] = useState(false);
	const openContactUsDialog = () => {
		setContactUsDialogOpen(true);
	}
	const onContactUsDialogClose = () => {
		setContactUsDialogOpen(false);
	}

	return (
		<footer>
			<ul>
				<li onClick={openContactUsDialog}>Contact us</li>
				<MessageDialog isOpen={isContactUsDialogOpen} onClose={onContactUsDialogClose}>Contact us by email</MessageDialog>
				<li>Mentions légales</li>
				<li>Politique de confidentialité</li>
				<li>Conditions générales</li>
			</ul>
			<p className="copyright">All right reserved {{project.attributes.compagny}} {{project.attributes.copyright}}</p>
			<p className="concept">Conception Powimod</p>
		</footer>
	)
}

export default Footer
