{% render "../../templates/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'components/Header.jsx'
		%}
import { useTranslation } from 'react-i18next';

const Header = (props) => {
	const { t } = useTranslation();
	return (
		<header>
			<div className="logo">&nbsp;</div>
			<span className="title">{t('header_title')}</span>
			<span className="subtitle">{t('header_subtitle')}</span>
		</header>
	)
}

export default Header;
