{% render "../common/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'ConfirmDialog.js'
		%}
import { useTranslation } from 'react-i18next';
import { useState, useRef, useEffect } from 'react'
import Dialog from './Dialog';

const ConfirmDialog = ({isOpen, onResponse, children}) => {
	const { t } = useTranslation();

	const onConfirm = () => {
		onResponse(true);
	}
	const onCancel = () => {
		onResponse(false);
	}
	const onDialogClosed = () => {
		onResponse(false); // when escape key is pressed
	}
	return (<Dialog isOpen={isOpen} onClose={onDialogClosed}>
		<div>{children}</div>
		<div>
			<button onClick={onConfirm}>{t('yes')}</button>
			<button onClick={onCancel}>{t('no')}</button>
		</div>
	</Dialog>);
}

export default ConfirmDialog;
