{% render "../../templates/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'containers/Home.jsx'
		%}
import { useTranslation } from 'react-i18next';

const Home = (props) => {
	const { t } = useTranslation();
	return (
		<main>
			<h1>{t('public_welcome_text')}</h1>
			<p>This is the public home page</p>
		</main>
	)
}

export default Home
