{% render "../common/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'containers/ErrorPage.jsx'
		%}
import { useRouteError, Link } from 'react-router-dom'
import { useTranslation } from 'react-i18next';

import Header from '../components/Header'
import Footer from '../components/Footer'

export default function ErrorPage() {

	const { t } = useTranslation();
	const error = useRouteError()

	return (<>
		<Header/>
		<main>
			<h1>{t('error-page-title')}</h1>
			<p>{t('error-page-message')}</p>
			<p>
				<i>{error.statusText || error.message}</i>
			</p>
			<div>
				<Link to="/">{t('error-page-home-link')}</Link>
			</div>
		</main>
		<Footer/>
	</>);
}
