{% render "../common/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'containers/Home.jsx'
		%}
import { useState, useContext, useEffect } from 'react';
import { useTranslation } from 'react-i18next';
import { AccountContext } from '../AccountContext'
import PrivateHomePageContent from '../components/PrivateHomePageContent'
import PublicHomePageContent from '../components/PublicHomePageContent'

const Home = (props) => {
	const { t } = useTranslation();

	const { account } = useContext(AccountContext);

	return (
		<main>
		{
			(account === null) ?
				<PublicHomePageContent/>
			:
				<PrivateHomePageContent/>
		}
		</main>
	)
}

export default Home
