{% render "../common/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'containers/ContactUs.jsx'
		%}


const ContactUs = (props) => {
	return (
		<main>
			<h1>Contact Us</h1>
			<p>Contact us by email</p>
		</main>
	)
}

export default ContactUs
