{% render "../../templates/license_header_js.liquid",
		project     : project.attributes.spa_frontend_project_name,
  		description : project.attributes.spa_frontend_project_description,
		authors     : project.attributes.authors,
		copyright   : project.attributes.copyright,
		filename    : 'MessageDialog.js'
		%}
import { useTranslation } from 'react-i18next';
import { useState, useRef, useEffect } from 'react'
import Dialog from './Dialog';

const MessageDialog = ({isOpen, onClose, children}) => {
	const { t } = useTranslation();
	const onMessage = () => {
		onClose(true);
	}
	const onCancel = () => {
		onClose(false);
	}
	return (<Dialog isOpen={isOpen} onClose={onClose}>
		<div>{children}</div>
		<div>
			<button onClick={onMessage}>{t('OK')}</button>
		</div>
	</Dialog>);
}

export default MessageDialog;
