[submodule "tools/pwm-code-gen"]
	path = tools/pwm-code-gen
	url = git@github.com:powimod/pwm-code-gen.git
[submodule "projects/comaint-backend"]
	path = projects/comaint-backend
	url = git@github.com:powimod/comaint-backend.git
