<!DOCTYPE html>
<html lang="{{project.attributes.lang}}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/style.css" />
	<title>{{project.name}}</title>
</head>
<body>
	<header>
		<h1>{{project.name}}</h1>
	</header>

	<main>
<%- include(template) -%>
	</main>

	<footer>
		{{project.name}}
	</footer>
</body>
</html>
