<html>
<head>
	<link type="text/css" rel="stylesheet" href="/style.css" />
	<title>{{project.name}}</title>
<head>
<body>
	<header>
		<h1>{{project.name}}</h1>
	</header>
	<%- include(template) -%>
	<footer>
		{{project.name}}
	</footer>
</body>
</html>
