		<h2>Home page</h2>
		<ul>
		{%- for object in project.objects %}
			{%- if object.links.length == 0 %}
			<li><a href="{{object.name | kebabCase | append: '/list'}}">List of {{object.name}}</a></li>
			{%- endif -%}
		{%- endfor %}
			<li><a href="logout">Logout</a></li>
		</ul>
